/* 
    Created on : Dec 10, 2013, 11:08:43 AM
    Author     : Marija.Todorovska
*/
body {
    margin: 0px;
    padding: 0;
}
.template_header_panel {
    /*background: #DBDBDB !important;*/
    border-collapse: separate !important;
    border-spacing:0 !important;
    padding: 0 !important;
    width: 100% !important;
}
.template_header_panel td {
    /*background: #DBDBDB !important;*/
    border: none !important;
    border-style: none !important;
    padding: 0 !important;
}
.column_right{
    text-align: right;
}
.column_right_bold{
    text-align: right;
    font-weight: bold;
}
.column_left {
    text-align: left;
}
.column_center {
    text-align: center;    
    height: 100%;
}

.login_panel {
    display:block;
    position:absolute;
    top:25%;
    left:35%;
    width:350px;
    height: 200px;
    box-shadow: 10px 10px 11px #000;
}

.no_border_grid {
    border: none !important;
    /*padding: 0 !important;*/
}

.no_border_grid td {
    border: none !important;
    /*padding: 1px !important;*/
}
.no_border_grid tr {
    border: none !important;
    /*padding: 0 !important;*/
}

#mainmenu {

    /*background: none repeat scroll 0 0 #EAEAEA;*/
    /*background-image: url('../resources/images/backgroundMiddle.png');*/
    
    /* strech background image */
    /*            background: url('../resources/images/background.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-size: 100% 100%;*/
    /* end strech background image */

    /*background-repeat: no-repeat;*/
    height: 79px;    
    width: 960px;

    /*    top: 25px;
    width: 992px;
    width: 90%;
    margin-left: 140px;
    
    /*in order to center the #mainmenu*/ 
    margin-left: auto;
    margin-right: auto;
    /*end in order to center the #mainmenu*/ 

    /*margin: 0 auto;*/
    /*position:relative;*/
}

#top_wrapper {
    /*background: none repeat scroll 0 0 #EAEAEA;*/

    background-image: url('../resources/images/background.png');
    background-size: 590px auto;
    background-repeat: no-repeat;    

    margin-left: 356px;
    height: 85px;

    /*    margin-left: auto;
        margin-right: auto;*/

    /*        background: url('../resources/images/background_down.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-size: 100% 100%;*/
}

#content_panel{

    background: none repeat scroll 0 0 #DBDBDB;

    /*    margin-left: 200px;
        margin-right: auto;
    
        width: 960px;*/
}

#content_wrapper{
    background: #EAEAEA !important;
}

.user_logged_in{
    text-align: right;
    font-weight: bold;
    color: #006CD0;
    /*color: #154496;*/
}

.footer {
    text-align: center;
    background: #F8F8F8;
    height: 100%;
}
.whs_table_true {
    color: #0081c2 !important;
}
.whs_table_false {
    
}
#wTable .ui-datatable .ui-sortable-column-icon {
    display: none;
    margin: -3px 0px -3px 2px;
}
.warehouse_exit_VALID {
    
}
.warehouse_exit_STORNED {
    color: red;
}