/* 
    Created on : Dec 10, 2013, 11:08:56 AM
    Author     : Marija.Todorovska
*/
.ui-widget, .ui-widget .ui-widget {
    font-size: 11px;
}
.ui-panelgrid td {
    border: none;
    border-style: none;
    /*padding: 0;*/
}

.ui-selectonemenu-label ui-inputfield ui-corner-all{
    color: #555555;    
}
.ui-panelgrid {
    border: none;
    border-style: none;
    border-collapse: initial;
    /*padding: 0;*/
}

.ui-datatable .ui-sortable-column-icon {
    display: none;
}

.ui-growl-item-container {
    position:relative;
    margin:0 0 10px 0;
    opacity:0.85;
    filter:alpha(opacity=85);
    background: #E4D500;
}
.ui-growl {
    position: fixed;
    top: 50%;
    left: 40%;
    width: 301px;
}